{% extends 'CalderaStvoBundle::layout.html.twig' %}

{% block content %}
<ul>
{% for paragraph in paragraphList %}
    <li>
        <h3>
            ยง {{ paragraph.number }}: {{ paragraph.title }}
        </h3>

        {{ paragraph.text|raw }}
    </li>
{% endfor %}
</ul>
{% endblock %}