@import "external/bootstrap-4/bootstrap.scss";

.paragraph ul {
  list-style: none;
}

.diff {
  .unchanged {
    background-color: #eee;
  }

  .old {
    background-color: #faa;
  }

  .new {
    background-color: #afa;
  }
}